*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
#table-width{
    max-width: 778px;
    margin: 2rem auto;
}
.color{
    background-color: green;
    color: yellow;
    font-style: italic;
}
.color-bomb{
    background-image: url('../img/bomb_1f4a3.jpeg');
    background-position: center;
    background-size: contain;
    color: black;
    font-style: italic;
}